<form name="userForm">
<div layout="column" ng-cloak class="md-inline-form">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Map DB FileNet Information</span>
        </h2>
    </md-toolbar>
    <md-content layout-gt-xs="row" layout-padding>
        <div>
            <md-input-container class="md-block">
                <label>Source Repository</label>
                <md-select ng-model="profile.sourceRepository1" required>
                    <md-optgroup label="Source Repository">
                        <md-option ng-value="item" ng-repeat="item in dbcol | orderBy:'item'">{{item}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </md-content>

    <md-content layout-gt-xs="row" layout-padding>
        <div>
            <md-input-container class="md-block">
                <label>Source Repository</label>
                <md-select ng-model="profile.sourceRepository2" required>
                    <md-optgroup label="Source Repository">
                        <md-option ng-value="item" ng-repeat="item in dbcol | orderBy:'item'">{{item}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </md-content>


    <button ng-click="addField()">Add Field</button>

    <div ng-repeat="field in data.fields">
        <div demo-display="field" demo-days="days" demo-months="months"></div>
    </div>

    ---{{data.fields}}---
    <md-content layout-padding>
        <div>

                --{{ userForm.$invalid }} --
                <md-content>
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
                        <md-button ng-disabled="userForm.$invalid" class="md-raised md-primary" ng-click="saveProduct()">Save</md-button>
                    </section>
                </md-content>
        </div>
    </md-content>
</div>
</form>

